@import url('https://fonts.googleapis.com/css?family=Lato|Oxygen:400,700');

body {
  margin: 0;
  background-color: #eee;
}

.navbar {
    padding: 15px 10px 15px 10px;
    display: flex;
    align-items: center;
}

#logo {
    margin-right: auto;
}

li {
    display: inline;
    padding-right: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul a {
    color: black;
    font-family: 'Oxygen', sans-serif;
    font-size: 20px;
    text-decoration: none;
}

.jumbotron {
  padding: 30px; /* fills out the jumbotron */
  background-color: #111;
}

.container {
  width: 1170px; /* specify a width */
  margin: 0 auto;  /* centers the container */
  padding: 0 15px; /* adds some padding to the left and right*/
}

.jumbotron .container {
  max-width: 100%; /* allows the jumbotron to adjust on smaller widths */
  background-color: #222;
}

.jumbotron h1 {
  text-align: center; /* centers the heading */
  color: #DDD;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}
